<footer>
  <div class="container-fluid padding">
    <div class="row text-center padding">
      <div class="col-md-6">
        <hr class="light">
        <h5>Connect</h5>
        <hr class="light"/>
        <div class="col-12 social padding">
          <a href="https://www.facebook.com/uros.vardic">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://github.com/uvardic">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/uros-vardic-317a5816b/">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <hr class="light"/>
        <h5>Author</h5>
        <hr class="light"/>
        <p>Uros Vardic RN 73/17</p>
        <p>{{currentDate | date}}</p>
      </div>
      <div class="col-12">
        <hr class="light-100">
        <h5>Napredno Java Programiranje</h5>
      </div>
    </div>
  </div>
</footer>
