<div class="container-fluid padding">
  <br/>
  <h1 class="bold">Uros Vardic</h1>
  <br/>
  <div class="row">
    <div class="col-md-6">
      <p class="bold">Address</p>
      <p>Neka ulica 204, Belgrade, Serbia</p>
      <p class="bold">Phone</p>
      <p>555-333</p>
    </div>
    <div class="col-md-6">
      <p class="bold">E-mail</p>
      <p>uros.varrdiic@gmail.com</p>
      <p class="bold">Date of birth</p>
      <p>22-01-1997</p>
    </div>
  </div>
  <br/>
  <div class="card">
    <div class="card-header bold">EDUCATION</div>
    <div class="card-body">
      <div class="row padding">
        <div class="col-md-3">09-2011 - 04-2015</div>
        <div class="col-md-9">
          <p class="bold">HIGH SCHOOL DEGREE</p>
          <p class="italic">Gymnasium Borislav Petkov Braca - Vrsac - Serbia</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">10-2015</div>
        <div class="col-md-9">
          <p class="bold">STUDENT</p>
          <p class="italic">Faculty of Computing, University Union - Belgrade - Serbia</p>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="card">
    <div class="card-header bold">EXPERIENCE</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">09-2018 - 11-2018</div>
        <div class="col-md-9">
          <p class="bold">BACKEND JUNIOR SOFTWARE ENGINEER</p>
          <p class="italic">Solibo Creative MNG</p>
          <p>Worked on Cryptopus, a crypto currency monitor. Learned and workend on the basic of DevOps using Jenkins, Docker and Kubernetes. In Java Spring implemented rest controllers, database repositories and services</p>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="card">
    <div class="card-header bold">PROJECTS</div>
    <div class="card-body">
      <div class="row padding">
        <div class="col-md-3">09-2018 - 12-2018</div>
        <div class="col-md-9">
          <p class="bold">STUDENT SERVICE - SCHOOL TEAM PROJECT</p>
          <p>Worked on a student service project. Implemented backend database models with Python in Django framework and frontend templates with HTML5 and JavaScript. Learned the principles of web development.</p>
        </div>
      </div>
      <div class="row padding">
        <div class="col-md-3">03-2019 - 06-2019</div>
        <div class="col-md-9">
          <p class="bold">MOVIE RESERVATION SERVICE - SCHOOL TEAM PROJECT</p>
          <p>Project was build with a micro service architecture. Implemented backed services for users, movies and reservations in Java Spring framework. Services communicated through an API Gateway. With JavaFX implemented the client side of the application. Learend the principles of build tools (Maven and Gradle), micro service architecture and REST communication.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">10-2019</div>
        <div class="col-md-9">
          <p class="bold">STARTUP ORGANIZER - PERSONAL PROJECT</p>
          <p>Currently working on a personal project in React.js as client side and Java Spring as backed. Project is based on the Lean Canvas principle and its main goal is to solve startup project organization problems. Project can be found on my GitHub page.</p>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="card">
    <div class="card-header bold">SKILLS</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <p>Java(Spring framework, Java8 features - lambdas, streams and more), JavaScript(React, Vue and Angular), Web(REST, GraphQL, Sockets, Servlets), Build Tools(Gradle, Maven), Version Control(Git, SVN), Database(SQL, MySQL)</p>
        </div>
      </div>
    </div>
  </div>
</div>
